<div class="team">
  <h1>Our Awesome Team</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag "lc.jpeg", class:"avatar-huge" %>
        <h2>LC</h2>
      </div>
      <div class="col-xs-4">
        <%= image_tag "anne.jpg", class:"avatar-huge"%>
        <h2>Anne</h2>
      </div>
      <div class="col-xs-4">
        <%= image_tag "romain.jpeg", class:"avatar-huge"%>
          <h2 class="text-centered">Romain</h2>
      </div>
    </div>
  </div>
</div>
